<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_pack_tag "application", defer: true %>
  <%= javascript_pack_tag "#{controller_path}/#{action_name}" rescue nil %>

  <%= yield :stylesheets %>
  <%= yield :javascripts %>
</head>
<body class="layout-3">
	<div id="app">
    <div class="main-wrapper container">
    <%= render "layouts/shared/nav" %>
    <%= content_for?(:content) ? yield(:content) : yield %>

    <footer class="main-footer">
      <div class="footer-left">
      </div>
    </footer>
  </div>

  <%= render "layouts/shared/flash_script" %>
</div>

</html>
